<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
	<%- include('partials/headerNavbar') %>
	
	<div class="banner"></div>
	<!-- ultima visita -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Basado en tu última visita</h2>
			</div>
            <% products = visited %>
			<%- include('partials/product') %>

		</div>
	</div>

	<!-- Ofertas -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ofertas</h2>
			</div>
			<% products = offer %>
			<%- include('partials/product') %>
     </div>
	</div>
	
	<%- include('partials/footer') %>
</body>	
</html>