<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Resultados de tu búsqueda'}) %>
<body>
	
	<%- include('partials/headerNavbar') %>
	
	<div class="banner"></div>
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de la búsqueda: <%= search %></h2>
			</div>
					
					<% products = result %>
					<%- include('partials/product') %>

					<% if (result.length < 1) { %>
			<div class="col-12">
				<h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
			</div>
			<% } %>
		</div>
	</div>
	
	<%- include('partials/footer') %>
</body>	
</html>